.cp{
    display: flex;
    width: 50vw;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: x-large;
}

.desc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}